################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/Eigene-Übungen/Bankautomat/BankautomatV2/.vs/BankautomatV2/FileContentIndex/56513972-be2a-4e83-907a-6dac4798badd.vsidx
/Eigene-Übungen/Bankautomat/BankautomatV2/.vs/BankautomatV2/FileContentIndex/6765a7ce-c00a-4f6f-aa38-2b6dff6f3939.vsidx
/Eigene-Übungen/Bankautomat/BankautomatV2/.vs/BankautomatV2/FileContentIndex/d6311f7d-a041-4585-b493-55864e22f666.vsidx
